<article>
  <section>
    <div class="container-fluid">
      <div class="">
        <h2 class="text-center my-5"><strong>Conoce Todas las Publicaciones de los Usuarios de TourBol!</strong></h2>
        <div class="row justify-content-center">
          <% @publications.each do |publication| %>
            <div class="my-4 mx-4 box-shadow bg-white col-11 col-sm-11 col-md-5 col-lg-5 col-xl-4 card-publications" data-aos="fade-up" data-aos-duration="2000">
              <div class="d-flex mr-2 my-2">
                <div class="avatar-publications mx-2" style="background-image: url(<%= publication.user&.photo&.attached? ? cl_image_path(publication.user.photo.key) : 'https://res.cloudinary.com/dgzbf6kp2/image/upload/c_scale,h_1536,w_1920/v1652472231/development/ivoevb9zgmyu06e2bxa6zwf45kqt.jpg' %>)"></div>
                <div class="container-header-publications">
                  <h6><%= publication.user.first_name %></h6>
                  <p><small class="text-muted"><%= publication.place.name %></small></p>
                </div>
              </div>
              <div class="container-photo-publications">
                <img src="<%= cl_image_path publication.photos.first.key %>" alt="foto-de-publicacion">
              </div>
              <div class="my-3 container-letters-publications">
                <h5><%= publication.title.first(30) ... %></h5>
                <p><%= publication.description.first(30) %> ...</p>
                <p class="mt-2">Ubicación: <%= publication.place.name %></p>
                <div class="border-top border-bottom">
                  <div class="text-center margin-auto rounded-pill my-3 tags-publications">
                    <p>personas que se han contactado: <b><%= publication.counter %></b></p>
                  </div>
                </div>
                <p class="p-1 text-center"><small><em class="text-muted">Created <%=  distance_of_time_in_words_to_now(publication.created_at) %></em></small></p>
                <div class="text-center">
                  <%= link_to "Ver Publicacion", publication_path(publication), class: "mt-3 rounded-pill px-4 btn btn-outline-dark" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</article>
