<h2>new publications all users</h2>
<%= simple_form_for @publication do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :category, as: :select, collection: @categories %>
  <%= f.input :place, as: :select, collection: @places %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit class: "btn btn-outline-primary" %>
<% end %>
