<article>
  <section class="bg-white">
    <% if @publication.photos.count == 1 %>
      <div class="banner-publications">
        <img src="<%= cl_image_path @publication.photos.first.key %>" alt="foto-publicacion">
      </div>
    <% elsif @publication.photos.count == 2 %>
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="7000">
            <img src="<%= cl_image_path @publication.photos.first.key %>" class="d-block w-100" alt="foto-publicaciones-1">
          </div>
          <div class="carousel-item" data-bs-interval="7000">
            <img src="<%= cl_image_path @publication.photos.second.key %>" class="d-block w-100" alt="foto-publicaciones-2">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% elsif @publication.photos.count == 3 %>
      <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="7000">
            <img src="<%= cl_image_path @publication.photos.first.key %>" class="d-block w-100" alt="foto-de-publicaciones">
          </div>
          <div class="carousel-item" data-bs-interval="7000">
            <img src="<%= cl_image_path @publication.photos.second.key %>" class="d-block w-100" alt="foto-de-publicaciones-2">
          </div>
          <div class="carousel-item" data-bs-interval="7000">
            <img src="<%= cl_image_path @publication.photos.last.key %>" class="d-block w-100" alt="foto-de-publicaciones-3">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% end %>
    <div class="avatar-show-publication">
      <img src="<%= @publication.user.photo.attached? ? cl_image_path(@publication.user.photo.key) : 'https://res.cloudinary.com/dgzbf6kp2/image/upload/c_scale,h_1536,w_1920/v1652472231/development/ivoevb9zgmyu06e2bxa6zwf45kqt.jpg' %>" alt="foto de perfil">
    </div>
    <div class="row container">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 border-end">
        <div class="container-letters-publication-show text-shadow container">
          <h4>
            <strong>
              <%= @publication.user.first_name %> <%= @publication.user.last_name %>
            </strong>
          </h4>
          <h5 class="my-3"><strong><%= @publication.user.email %></strong></h5>
        </div>
        <div data-controller="counter" class="my-5 container" data-counter-id-value="<%= @publication.id %>">
          <p class="my-5">
            <small>
              <em class="text-muted">
                Personas que se han contactado:
                <b class="count" data-counter-target="show">
                  0
                </b>
              </em>
            </small>
          </p>
          <%= link_to "Contactar", "https://api.whatsapp.com/send?phone=+591#{@publication.user.phone_number}&text=Hola,%20vi%20tu%20publicacion%20y%20quisiera%20saber%20mas%20informacion", target: "_blank", class: "link px-5 btn btn-outline-primary", data: {action: "click->counter#increaseCounter"} %>
        </div>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 border-start">
        <div class="container text-shadow">
          <h3 class="text-center my-5"><strong><%= @publication.title.capitalize %></strong></h3>
          <p><%= @publication.description %></p>
          <div class="container-fluid my-5">
            <h5><strong>Categoria :</strong> <%= @publication.category.name %></h5>
            <h5><strong>Lugar :</strong> <%= @publication.place.name %></h5>
          </div>
        </div>
      </div>
      <div class="border-top col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="container text-shadow">
          <h4 class="text-center my-5"><strong>Ubicacion de la Publicacion (Geolocalización)</strong></h4>
          <div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <% if @publication.user.publications.count >= 2 %>
      <div class="container text-shadow">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h3 class="text-center mt-5"><strong>Otras Publicaciones del Usuario</strong></h3>
            <div class="row justify-content-center">
              <% @publication.user.publications.each do |publication| %>
                <% if @curret_publi.id != publication.id %>
                  <div class="card-publications-2 col-12 bg-white mx-4 box-shadow col-sm-12 col-md-5 col-lg-5 col-xl-5 my-5">
                    <div class="container-photo-publications mt-2">
                      <img class="rounded" src="<%= cl_image_path publication.photos.first.key %>" alt="foto-de-publicacion">
                    </div>
                    <div class="my-3 container-letters-publications p-2">
                      <h4><%= publication.title.capitalize %></h4>
                      <p><%= publication.description%></p>
                      <p class="border-top border-bottom py-2 my-3 text-muted">personas que se han contactado: <b>10</b></p>
                      <p class="p-1 text-center"><small><em class="text-muted">Created <%=  distance_of_time_in_words_to_now(publication.created_at) %></em></small></p>
                      <div class="text-center">
                        <%= link_to "Ver Publicacion", publication_path(publication), class: "mt-3 btn btn-outline-info" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </section>
</article>
