<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <h4 class="mt-1">TourBol</h4>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <%= form_tag places_path, class: "d-flex mx-3", method: :get do %>
      <div class="input-group">
        <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Buscar Lugares"
      %>
       <button type="submit" class="btn btn-light"><i class="fas fa-search"></i></button>
      </div>
    <% end %>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Inicio", root_path, class: "nav-link", style: "color: white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Destinos", places_path, class: "nav-link", style: "color: white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Publicaciones", publications_path, class: "nav-link", style: "color: white" %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= image_tag "#{cl_image_path current_user.photo.key}", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            <% else %>
              <%= image_tag "https://res.cloudinary.com/dgzbf6kp2/image/upload/c_scale,h_200,w_200/v1652472231/development/ivoevb9zgmyu06e2bxa6zwf45kqt.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Inicio", root_path, class: "nav-link", style: "color: white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Lugares", places_path, class: "nav-link", style: "color: white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Publicaciones", publications_path, class: "nav-link", style: "color: white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Iniciar Sesion", new_user_session_path, class: "nav-link", style: "color: white" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
