<article id="index the place">
  <section>
    <div class="container text-center text-shadow my-5">
      <h2><strong>¡Escoge el Lugar que más te guste! </strong></h2>
      <p><small><em class="text-muted">Presiona la imagen del Lugar para ver toda su información</em></small></p>
    </div>
    <div class="container-fluid my-5 text-shadow">
      <div class="row justify-content-center">
        <% @places.each do |place| %>
          <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4" data-aos="fade-up" data-aos-duration="2000">
            <div class="box-shadow rounded card-places my-4">
              <div class="card-category-place rounded" style="background-image: url('<%= cl_image_path place.photos.first.key %>')"></div>
              <div class="mx-2 my-3">
                <h3><strong><%= place.name %></strong></h3>
                <% place.rating.to_i.times do %>
                  <i class="fas fa-star star-yellow"></i>
                <% end %>
                <div class="link border-top text-center">
                  <%= link_to "Ver Más", place_path(place), class: "my-3 px-5 btn btn-outline-primary" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
</article>


















<%#
<h2 class="text-center my-5"><b>All Places the TAG!</b></h2>

<div class="container">
  <small><em class="text-muted">Press Image for Go Place</em></small>
  <div class="row justify-content-center">
    <% @places.each do |place| %>
      <%# <div class="my-3 col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <%= link_to place_path(place), class: "anchor-white", action: "go" do %>
          <%# <div class="card-category rounded" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path place.photo.key, crop: :fill')"> %>
            <%# <h3 class="text-center"><b><%= place.place</b></h3> %>
          <%# </div>
        <% end %>
      <%# </div>
    <% end %>
  <%# </div>
</div> %>
