<article>
  <section>
    <div id="carouselExampleFade" class="carousel slide carousel-fade text-shadow" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="7000">
          <div class="banner-place text-center text-shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= cl_image_path @place.photos.first.key %>);">
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="7000">
          <div class="banner-place text-center text-shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= cl_image_path @place.photos.second.key %>);">
          </div>
        </div>
        <div class="carousel-item text-center" data-bs-interval="7000">
          <div class="banner-place text-center text-shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= cl_image_path @place.photos.last.key %>);">
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="text-shadow">
            <h3 class="text-center my-4"><strong><%= @place.name %> - Descripción</strong></h3>
            <p><%= @place.description %></p>
            <div class="text-center bg-white p-4">
              <% @place.rating.to_i.times do %>
                <i class="fas fa-star star-yellow"></i>
              <% end %>
              <h4 class="d-inline-block mx-4 text-shadow"><strong>Reference Stars</strong></h4>
              <small><em class="text-muted">created <%= distance_of_time_in_words_to_now(@place.created_at) %> ago</em></small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
