<article>
  <section>
    <div id="carouselExampleFade" class="carousel slide carousel-fade text-shadow" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="7000">
          <div class="banner-place text-center text-shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= cl_image_path @place.photos&.first&.key %>);">
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="7000">
          <div class="banner-place text-center text-shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= cl_image_path @place.photos&.second&.key %>);">
          </div>
        </div>
        <div class="carousel-item text-center" data-bs-interval="7000">
          <div class="banner-place text-center text-shadow" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= cl_image_path @place.photos&.last&.key %>);">
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-4">
          <div class="row justify-content-center text-shadow text-center">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 border-end p-3 my-3">
              <h3 class="text-center mb-4">
                <strong><%= @place.name %> - Descripción</strong>
              </h3>
              <p class="mt-3"><%= @place.description %></p>
              <div class="text-center p-4">
                <% @place.rating.to_i.times do %>
                  <i class="fas fa-star star-yellow"></i>
                <% end %>
                <h4 class="d-inline-block mx-4 text-shadow">
                  <strong>Reference Stars</strong>
                </h4>
                <p>
                  <small>
                    <em class="text-muted">
                      created <%= distance_of_time_in_words_to_now(@place.created_at) %> ago
                    </em>
                  </small>
                </p>
              </div>
              <div class="container p-4 text-center">
                <h4><strong>¡Crea una Publicacion para este Lugar!</strong></h4>
                <p><small class="text-muted">Crea una publicacion ya sea para compartir tus experiencias con este Lugar, o Compartir un negocio, restaurante, hotel, etc.</small></p>
                <p><small>¡Para que tu negocio sea visible para todos los turistas!.</small></p>
                <%= link_to "Crear Publicacion", new_publication_path, class: "btn btn-outline-primary" %>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 border-start p-3 my-3 text-shadow">
              <h3 class="text-center">
                <strong>Información Acerca del Lugar</strong>
              </h3>
              <div class="row justify-content-between p-4 text-center">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="card-place-show-information my-3">
                    <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1653512120/development/caminar-place_r3yfwl.png" alt="ilustracion caminando">
                  </div>
                  <h5><strong>Como Llegar?</strong></h5>
                  <p class="text-justify"><%= @place.how_to_get %></p>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                  <div class="card-place-show-information my-3">
                    <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1653512413/development/llevar-place_dfnsfu.png" alt="ilustracion-mochla">
                  </div>
                  <h5><strong>Que Llevar?</strong></h5>
                  <p class="text-justify"><%= @place.what_to_bring %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</article>
<article>
  <section>
    <h3 class="text-center text-shadow my-5"><strong>¡Top 3 Publicaciones, con las que los usuarios mas se han Contactado!</strong></h3>
    <div class="container row justify-content-center">
      <% @publications_top.each do |publication| %>
        <div class="my-4 mx-4 box-shadow bg-white col-11 col-sm-11 col-md-5 col-lg-5 col-xl-4 card-publications" data-aos="fade-up" data-aos-duration="2000">
          <div class="d-flex mr-2 my-2">
            <div class="avatar-publications mx-2" style="background-image: url(<%= publication.user.photo.attached? ? cl_image_path(publication.user.photo.key) : 'https://res.cloudinary.com/dgzbf6kp2/image/upload/c_scale,h_1536,w_1920/v1652472231/development/ivoevb9zgmyu06e2bxa6zwf45kqt.jpg' %>)"></div>
            <div class="container-header-publications">
              <h6><%= publication.user.first_name %></h6>
              <p><small class="text-muted"><%= publication.place.name %></small></p>
            </div>
          </div>
          <div class="container-photo-publications">
            <img src="<%= cl_image_path publication.photos&.first&.key %>" alt="foto-de-publicacion">
          </div>
          <div class="my-3 container-letters-publications">
            <p><%= publication.title.first(30) ... %></p>
            <p><%= publication.description.first(30) %> ...</p>
            <p class="border-top border-bottom py-2 my-3 text-muted">personas que se han contactado: <b>10</b></p>
            <p class="p-1 text-center"><small><em class="text-muted">Created <%=  distance_of_time_in_words_to_now(publication.created_at) %></em></small></p>
            <div class="text-center">
              <%= link_to "Ver Publicacion", publication_path(publication), class: "mt-3 btn btn-outline-info" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div style="width: 100%; height: 600px;"
      data-controller="mapbox"
      data-mapbox-target="container"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    <div class="container-fluid text-shadow">
      <h4 class="text-center my-5 text-shadow"><strong>Ver todas las Publicaciones</strong></h4>
      <div class="text-center">
        <%= link_to "Ver Publicaciones", publications_path, class: "px-4 btn btn-outline-primary" %>
      </div>
    </div>
  </section>
</article>
<section>
  <div class="border-top col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 border-bottom">
    <div class="container-fluid">
      <div class="row text-center text-shadow my-5">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">
              <h3 class="my-4">
                <strong>Recomendaciones</strong>
              </h3>
              <div class="card-place-show-recomendation">
                <img src="https://res.cloudinary.com/dgzbf6kp2/image/upload/v1653513660/development/recomendaciones_jrfzwk.png" alt="ilustracion recomendacion">
              </div>
            </div>
          </div>
        </div>
        <div class="border-end col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-3">
          <h5 class="my-3"><strong>Principal</strong></h5>
          <p><%= @place.recomendation %></p>
        </div>
        <div class="border-start col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-3">
          <h5 class="my-3"><strong>Secundaria</strong></h5>
          <p><%= @place.other_recomendation %></p>
        </div>
      </div>
    </div>
  </div>
</section>
