<!DOCTYPE html>
<html>
  <head>
    <title>TurismoBoliviaProject</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link href="https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@1,700&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <nav>
        <%= render 'shared/navbar' %>
      </nav>
    </header>

    <%= render 'shared/flashes' %>

    <main>
      <%= yield %>
    </main>

    <footer>
      <%= render 'shared/footer' %>
    </footer>
  </body>
</html>
